{#include index}
{#title}Edit password for {user.displayName}{/title}

{#body}

<h3 class="ui dividing header">{user.displayName}</h3>

{#for message in messages}
<div class="ui {message.cssHint1} icon message">
    <i class="ui icon {message.cssHint2}"></i>
    <div class="content">
        <div class="header">
            {message.title}
        </div>
        <p>{message.text}</p>
    </div>
</div>
{/for}

<form class="ui form" action="/user/{user.id}/password" method="post" name="password">

    <div class="fields">
        <div class="three wide field">
            <label for="newPassword">New password</label>
            <input id="newPassword" class="ui input" name="newPassword" type="password">
        </div>
        <div class="three wide field">
            <label for="newPasswordRepeated">New password (type again)</label>
            <input id="newPasswordRepeated" name="newPasswordRepeated" type="password">
        </div>
    </div>


    <input type="submit" class="ui primary button" value="Update password">
    <a href="/user/{user.id}" class="ui button">Back to user properties...</a>

</form>

{/body}
{/include}
