<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/hueui-classic.css" type="text/css">
</head>
<body>
<h1>Users</h1>

<form action="/ui/user/_all" method="get" name="tableform">
    <label for="sortColumn">Sort column</label>
    <select id="sortColumn" name="sortColumn">
        <option value="Login" {#if sortColumn is
        'Login'}selected{/if}>Login</option>
        <option value="DisplayName" {#if sortColumn is
        'DisplayName'}selected{/if}>Name</option>
        <option value="ValidFrom" {#if sortColumn is
        'ValidFrom'}selected{/if}>Valid from</option>
        <option value="ValidUntil" {#if sortColumn is
        'ValidUntil'}selected{/if}>Valid until</option>
    </select>

    <label for="sortDirection">order</label>
    <select id="sortDirection" name="sortDirection">
        <option value="Ascending" {#if sortDirection is
        'Ascending'}selected{/if}>Ascending</option>
        <option value="Descending" {#if sortDirection is
        'Descending'}selected{/if}>Descending</option>
    </select>

    <input type="submit" value="Apply and find">
    <input type="reset" value="Clear">

    <table>
        <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Valid from</th>
            <th>Valid until</th>
            <th>Suspended</th>
            <th>Hidden</th>
        </tr>
        <tr>
            <td><input name="login" type="text" value="{filter-login}"></td>
            <td><input name="displayName" type="text" value="{filter-displayName}"></td>
        </tr>
        </thead>
        <tbody>
        {#for currentUser in userList}
        <tr>
            <td>{currentUser.login}</td>
            <td>{currentUser.displayName}</td>
            <td>{currentUser.validUntil}</td>
            <td>{currentUser.validUntil}</td>
            <td>{currentUser.suspended}</td>
            <td>{currentUser.hidden}</td>
        </tr>
        {/for}
        </tbody>
    </table>
</form>

</body>
</html>
