{#include index}
{#title}{user.displayName}{/title}

{#body}

<h3 class="ui dividing header">{user.displayName}</h3>

<p>
    <a href="/user/{user.id}/password" class="ui negative button">Change password...</a>
</p>

{#for message in messages}
{#if message.type.name eq 'Information'}
<div class="ui positive icon message">
    <i class="ui icon check circle"></i>
    <div class="content">
        <div class="header">
            {message.title}
        </div>
        <p>{message.text}</p>
    </div>
</div>
{/if}
{#if message.type.name eq 'Error'}
<div class="ui negative icon message">
    <i class="ui icon exclamation triangle"></i>
    <div class="content">
        <div class="header">
            ERROR: {message.title}
        </div>
        <p>{message.text}</p>
    </div>
</div>
{/if}
{/for}

<form class="ui form" action="/user/{user.id}" method="post" name="user">

    <!-- User ID and login -->
    <div class="fields">
        <div class="three wide field">
            <label for="userId">User ID</label>
            <input id="userId" class="ui input" name="userId" type="text" value="{user.id}" disabled>
        </div>
        <div class="three wide field">
            <label for="login">Login</label>
            <div class="ui input error">
                <input id="login" name="login" type="text" value="{user.login}">
            </div>
        </div>
    </div>

    <!-- Display name -->
    <div class="fields">
        <div class="six wide field">
            <label for="displayName">Name</label>
            <input id="displayName" name="displayName" type="text" value="{user.displayName}">
        </div>
    </div>

    <!-- Validity range -->
    <div class="fields">
        <div class="three wide field">
            <label for="validFrom">Valid from</label>
            <input id="validFrom" name="validFrom" type="datetime-local" value="{user.validFrom}">
        </div>
        <div class="three wide field">
            <label for="validUntil">until</label>
            <input id="validUntil" name="validUntil" type="datetime-local" value="{user.validUntil}">
        </div>
    </div>

    <!-- Validity range -->
    <div class="fields">
        <div class="three wide field">
            <label for="timeZone">Time zone</label>
            <select class="ui fluid dropdown" id="timeZone" name="timeZone">
                {#for zone in timeZones}
                    <option value="{zone.id}" {#if user.timeZone eq zone.id}selected{/if}>{zone.name}</option>
                {/for}
            </select>
        </div>
        <div class="three wide field">
        </div>
    </div>


    <!-- Options like 'hidden', 'suspended' -->
    <div class="fields">
        <div class="two wide field">
            <div class="ui toggle checkbox">
                <input id="suspended" name="switches" type="checkbox"
                       value="suspended" {#if user.suspended}checked{/}>
                <label for="suspended">Suspended</label>
            </div>
        </div>
        <div class="two wide field">
            <div class="ui toggle checkbox">
                <input id="hidden" name="switches" type="checkbox"
                       value="hidden" {#if user.hidden}checked{/}>
                <label for="hidden">Hidden</label>
            </div>
        </div>
    </div>

    <!-- Permissions and roles -->
    <div class="fields">
        <div class="six wide field">
            <label for="roles">Roles</label>
            <input id="roles" name="roles" type="text" value="{user.roles}">
        </div>
    </div>

    <input type="submit" class="ui primary button" value="Save">
    {#if me.isAdmin}
    <a href="/user/_all" class="ui button">Back to user overview...</a>
    {/if}

</form>

{/body}
{/include}
