:root {
    --hui-font-family: "Verdana";
    --hui-font-size: 1.0em;
    --hui-color-background: white;

    --hui-color-input-text-background: white;
    --hui-color-input-text: black;

    --hui-color-bevel-left: white;
    --hui-color-bevel-top: white;
    --hui-color-bevel-right: gray;
    --hui-color-bevel-bottom: gray;

    --hui-color-scrollbar-space: gray;
    --hui-color-scrollbar-handle: lightgray;
    --hui-color-scrollbar-border: darkgray;
    --hui-color-scrollbar-resizer: darkgray;
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--hui-font-size);
    font-family: var(--hui-font-family);
    background-color: var(--hui-color-background);
}

input, select {
    font-size: var(--hui-font-size);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
}

.button {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    border-style: solid;
}

.icon-list {
    list-style-type: none;
}

.icon-list-item {
    margin-bottom: 3em;
}
